{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.linkedin.com/in/mateus-r-29463b138/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/linkedin.png' %}" alt="ícone linkedin">
        </a>
        <a href="https://github.com/RomaniMateus/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/github.png' %}" alt="ícone github">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Mateus Romani</p>
</footer>